<div class="m-5 p-5">
<h1>New recipe</h1>

<%= bootstrap_form_with(model: @user.recipes.new) do |r| %>
  <div>
    <%= r.text_field :name %>
  </div>
    <div>
    <%= r.time_field :preparation_time %> 
  </div>
  <div>
    <%= r.time_field :cooking_time %>
  </div>
  <div>
    <%= r.text_field :description %>
  </div>
  <div>
    <%= r.submit %>
  </div>

<% end %>

<br>

<div>

<br>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>
</div>